

body{ background: orange;
border:solid;
margin:5px;
padding:20px; }


	h1 {

 color:red;
!background: blue;
font-style:italic;
text-align: center;

}



	h3 {

 color:blue;
!background: pink;
font-style:italic;
}

	#mainpara {

 color: : orange;
font-style:italic;

}

	#mainpara:hover {

 color:yellow;

}
.subpara {

 color: yellow;
font-style:italic; 
}
	table {

 fill:green;

}

#img1 {float:left;}

#img2 {float:center;}

form {padding: 25px;
background-color: transparent;
font-style: italic;
border-style: solid;
font-weight: 900px;

}

input[type=button] {
	color: black;
	background-color: rgb(0,200,0)
	padding:5px;
}

input[type=button]:hover {
	border:  solid;
	background-color: rgb(0,230,0)
	padding:15px;
}

input[type=text]:focus {
	color:orange;
	background-color: rgb(0,330,0)
	width=100%;
	transition :2s;
}

#parentdiv2 {position: relative;}

#div8 { position: static; background-color:grey;
width: 400px; height: 275px; }

</style>


</style>
